<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>


    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header"
    role="banner">
      <h3 class="project-name">Zach Langford, PhD</h3>
      <a href="https://langfordzl.github.io/">Home</a> | <a href='/cv'>CV</a> | <a href='/contact'>Contact</a>
    </header>
    <main id="content" class="main-content" role="main">
      <a href="https://langfordzl.github.io/">Home</a> | <a href='/cv'>CV</a> | <a href='/contact'>Contact</a>
      {{ content }}
      <footer class="site-footer">
        &copy; 2020 Zach Langford
      </footer>
    </main>
  </body>

</html>
