body
{
	font-family: trebuchet ms, verdana, arial, tahoma;
	font-size: 100%; color: #FFF;
	background-color: #273A3A;
	line-height: 200%;
	margin-top: 20px;
	margin-bottom: 10px;
}

img
{
	border: 0px;
}

h1
{
	font-size: 160%;
	font-family: arial;
}

h2
{
	font-size: 125%;
	font-family: arial;
}

#container
{
	width: 800px;
	margin: 20px auto;
}

#menu
{
	width: 960px;
}

#header
{
	width: 960px;
	height: 125px;
	border: 1px solid #C4D7D7;
	background-image: url('header.jpg');
}

#content
{
	width: 800px;
	margin-top: 10px;
	border: 1px solid #C4D7D7;
	padding: 10px;
}

#table
{
	line-height: 110%;
}

.titleh1
{
	width: 100%;
	border-bottom: 1px dashed #C4D7D7;
}

.subparagraph
{
	line-height: 150%;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 100%;
	border-bottom: 1px dashed #87ADAD;
}

#footer
{
	width: 800px;
	margin-top: 10px;
	text-align: center;
	padding: 0px 10px;
	border: 1px solid #C4D7D7;
	font-size: 90%;
}

a:active, a:visited, a:link
{
	color: #ACC8C8;
	text-decoration: underline;
}

a:hover
{
	color: #FFFFFF;
	text-decoration: none;
}




